.banner {
  background-image: url("/src/assets/bannerimg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 90vh;
  backdrop-filter: blur(6px);
  padding-top: 10vh ;
}


h2{
  font-size: 50px !important ;
}



.banner>div:nth-child(2){
  padding: 5vh 6vw;
  width: 50vw;
  padding-left: 15vw;
  background-color: #714EED;
  align-content: center;
  color: white;
  border-radius: 0 5px 0 0;
}

.banner>div:nth-child(3){
  background-color: #D8D8D8;
  padding: 2vh 10vw;
  width: 50vw;
}

.banner>.button{
  padding:3vh 3vw;
  font-size: 30px;
}




