/* #bannerContainer{
  padding-bottom: 10vh;
} */

.banner {
  /* background-image: url("/src/assets/bannerimg.png"); */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(6px);
  margin: 0;
  
}

.blur{
  background-image: url("/src/assets/bannerimg.png");
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(4px);
}

h2{
  font-size: 50px !important ;
}

.banner>div:last-child{
  position: relative;
  top: -90vh;
  left: 0;}

/* .banner>div:last-child>div{
  margin: 10px;
} */

.banner>div:last-child>div:nth-child(1){
  padding: 5vh 2vw 5vh 0;
  width: 50%;
  background-color: #714EED;
  align-content: center;
  color: white;
  border-radius: 0 5px 0 0;
  text-align: right;
}

.banner>div:last-child>div:nth-child(2){
  background-color: #D8D8D8;
  text-align: right;
  padding: 5vh 2vw 5vh 15vw;
  width: 50%;
  margin-bottom: 5vh;
  border-radius: 0 0 5px 0;
}

.banner>div:last-child>.button{
  margin-left: 25vw;
  margin-bottom: 100vh;
  padding:3vh 3vw;
  font-size: 30px;
}




