#fields{
  width: 100%;
  height: 100vh;
}

.szakmaTeruleteiBackground {
  background-image: linear-gradient(#83009D, #714EED);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.fieldsContent h1{
  text-align: center;
  color: white;
  margin-bottom:5vh ;
}

.szakmaTeruleteiFlexbox {
  display: grid;
  align-items: center;
  gap: 30px;
  
}

.szakmaTeruleteiContent {
  width: 70%;
  height: 25vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #d8d8d8;
}


.szakmaTeruleteiContent:nth-child(odd) {
  justify-self: end;
}

.szakmaTeruleteiImg {
  width: 40%;
  background-size: cover;
  height: 90%;
  margin: 1%;
  border-radius: 5px;
}


.szakmaTeruleteiInnerFlexbox {
  width: 60vw;
  padding: 20px;
  box-sizing: border-box;
}

.fieldsContent{
  position: relative;
  top: -95vh;
  left: 0;
  margin: 0 5vw;
  
}

.szakmaTeruleteiContent:first-child>.szakmaTeruleteiImg{
  background-image: url("../assets/appDev.jpg");
}
.szakmaTeruleteiContent:nth-child(2)>.szakmaTeruleteiImg{
  background-image: url("../assets/WebDev.jpg");
}
.szakmaTeruleteiContent:last-child>.szakmaTeruleteiImg{
  background-image: url("../assets/Database.jpg");
}

.szakmaTeruleteiH1{
  text-align: center;
  background-color: #714EED;
  font-size: 30px;
  color: white;
}

/* @media (max-width: 768px) {
  .szakmaTeruleteiContent {
    flex-direction: column;
  }

  .szakmaTeruleteiImg {
    width: 100%;
    height: 200px;
  }

  .szakmaTeruleteiInnerFlexbox {
    width: 100%;
  }
} */