
#fields{
  width: 100%;
  height: 100vh;
}

.szakmaTeruleteiBackground {
  background: linear-gradient(#83009D, #714EED, #83009D, #714EED);
  background-size: 400% 400%;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: gradient 20s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 50% 50%;
  }
}



.fieldsContent h1{
  text-align: center;
  color: white;
  margin-bottom:2vh ;
}

.szakmaTeruleteiFlexbox {
  display: grid;
  align-items: center;
  gap: 5%;
  
}

.szakmaTeruleteiContent {
  width: 80%;
  height: 25vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: rgba(216, 216, 216,0.8);
  transition: transform 0.3s ease
}


.szakmaTeruleteiContent:nth-child(even):hover{
  transform: translateX(10px);
}
.szakmaTeruleteiContent:nth-child(odd):hover{
  transform: translateX(-10px);
}



.szakmaTeruleteiContent:nth-child(odd) {
  justify-self: end;
}

.szakmaTeruleteiImg {
  width: 40%;
  background-size: cover;
  height: 90%;
  margin: 1vh 1vw;
  border-radius: 5px;
}


.szakmaTeruleteiInnerFlexbox {
  width: 70vw;
  padding: 2vh 2vw;
  padding-left: 10vw;
  box-sizing: border-box;
}

.fieldsContent{
  position: relative;
  top: -95vh;
  left: 0;
  margin: 0 5vw;
  
}

.szakmaTeruleteiText{
  padding: 1vh 1vw;
  font-size: 90%;
}

.szakmaTeruleteiContent:first-child>.szakmaTeruleteiImg{
  background-image: url("../assets/appDev.jpg");
}
.szakmaTeruleteiContent:nth-child(2)>.szakmaTeruleteiImg{
  background-image: url("../assets/WebDev.jpg");
}
.szakmaTeruleteiContent:last-child>.szakmaTeruleteiImg{
  background-image: url("../assets/Database.jpg");
}

.szakmaTeruleteiH1{
  text-align: center;
  background-color: #714EED;
  font-size: 30px;
  color: white;
  border-radius: 5px;
}



/* @media (max-width: 768px) {
  .szakmaTeruleteiContent {
    flex-direction: column;
  }

  .szakmaTeruleteiImg {
    width: 100%;
    height: 200px;
  }

  .szakmaTeruleteiInnerFlexbox {
    width: 100%;
  }
} */