.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10vh;
  width: 100vw;
  position: sticky;
  top: 0;
}

.icon {
  height: 80px;
  flex-grow: 1;
}

#navbarH1 {
  background-image: linear-gradient(#83009d, #714eed);
  background-clip: text;
  color: transparent;
  font-size: 60px;
  margin: 0;
  padding: 0;
  flex-grow: 5;
  letter-spacing: 3px;
  user-select: none;
}

.buttons {
  flex-grow: 2;
}

#elvalaszto {
  width: 0.3vw;
  height: 8vh;
  background-image: linear-gradient(#83009d, #714eed);
  margin-right: 2vw;
  border-radius: 5px;
}
